<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% extends "main.html" %}
    {% block content %}
    {% if page == "login" %}
    <div>
        <h2>Please login first</h2>
        <form action="" method="post">
            {% csrf_token %}
            <small>Username:</small>
            <input type="text" name="username" placeholder="Username..." >
            <small>Password:</small>
            <input type="password" name="password" placeholder="Password...">
            <input type="Submit" value="Login">
            <p>Not registered yet?</p>
            <a href="{% url 'register' %}">register now</a>
        </form>
    </div>
    {% else %}
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="Submit" value="Register">
            <p>Already registered?</p>
            <a href="{% url 'login' %}">login</a>
        </form>
    </div>
    {% endif %}
    {% endblock %}
</body>
</html>